<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>View Patients</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/modern-business.css" rel="stylesheet">

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        function listUnlistPatient(e) {
            var patientId = $(e).closest("tr").find("td:first-child").text();
            //alert(id);
            console.log(patientId);
            document.getElementById("patientId").value = patientId;

            var listStatus = $(e).closest("tr").find("td:nth-child(5)").text();
            //alert(id);
            console.log(listStatus);
            document.getElementById("listStatus").value = listStatus;

            var allocatedStatus = $(e).closest("tr").find("td:nth-child(6)").text();
            //alert(id);
            console.log(allocatedStatus);
            document.getElementById("allocationStatus").value = allocatedStatus;

            var listUnlistPatient = document.getElementById("listUnlistPatient_form");
            if (listUnlistPatient.style.display === 'none') {
                listUnlistPatient.style.display = 'block';
            }
            else {
                listUnlistPatient.style.display = 'none';
            }

            var button;
            if (listStatus === 'Listed') {
                button = 'Unlist Patient';
            } else {
                button = 'List Patient';

            }
            document.getElementById("listOrUnlist").innerHTML = button;

        }

        function editPatient(e) {
            var patientId = $(e).closest("tr").find("td:first-child").text();
            //alert(id);
            console.log(patientId);
            document.getElementById("patientIdToEdit").value = patientId;

            var name = $(e).closest("tr").find("td:nth-child(2)").text();
            //alert(id);
            document.getElementById("patientName").value = name;

            var contact = $(e).closest("tr").find("td:nth-child(3)").text();
            //alert(id);
            document.getElementById("patientContact").value = contact;



            var editPatient = document.getElementById("editPatient_form");
            if (editPatient.style.display === 'none') {
                editPatient.style.display = 'block';
            }
            else {
                editPatient.style.display = 'none';
            }
        }
    </script>

</head>

<body>
    <% include staffHeader.ejs %>

    <!-- Page Content -->
    <div class="container">
        <h1 class="mt-4 mb-3">Welcome <%= user%></h1>

        <form id="listUnlistPatient_form" action="viewPatients" role="form" method="post" style="display:none">
            <h3 class="mt-4 mb-3">List/Unlist Patient</h3>
            <div class="form-group">
                <label for="patientId">Patient ID:</label>
                <input type="text" class="form-control" id="patientId" name="patientId" required="required"
                    readonly="true">
            </div>

            <div class="form-group">
                <label for="listStatus">Listing Status:</label>
                <input type="text" class="form-control" id="listStatus" name="listStatus" required="required"
                    readonly="true">
            </div>

            <button type="submit" class="btn btn-primary" id="listOrUnlist"></button>

            <div class="form-group" style="display:none">
                <label for="allocationStatus">Allocation Status:</label>
                <input type="text" class="form-control" id="allocationStatus" name="allocationStatus"
                    required="required" readonly="true">
            </div>
        </form>

        <form id="editPatient_form" action="viewPatients" role="form" method="post" style="display:none">
            <h3 class="mt-4 mb-3">Edit Patient</h3>
            <div class="form-group">
                <label for="patientIdToEdit">Patient ID:</label>
                <input type="text" class="form-control" id="patientIdToEdit" name="patientIdToEdit" required="required"
                    readonly="true">
            </div>

            <div class="form-group">

                <label for="patientName">Please enter Patient Name:</label>
                <input type="text" class="form-control" id="patientName" name="patientName"
                    placeholder="Enter Patient Name" required="required">
            </div>
            <div class="form-group">
                <label for="patientContact">Please enter Patient Contact Number:</label>
                <input type="text" class="form-control" id="patientContact" name="patientContact"
                    placeholder="Enter Patient Contact Number" required="required">
            </div>

            <div class="form-group">
                <label for="patientContact">Please select Patient's Indications:</label>
                <br />
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="indications" type="checkbox" id="cDExamCase" value="0">
                    <label class="form-check-label" for="cDExamCase">CD Exam Case</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="indications" type="checkbox" id="dentalPublicHealth"
                        value="1">
                    <label class="form-check-label" for="dentalPublicHealth">Dental Public Health</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="indications" type="checkbox" id="endodontics" value="2">
                    <label class="form-check-label" for="endodontics">Endodontics</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="indications" type="checkbox" id="fixedProsthodontics"
                        value="3">
                    <label class="form-check-label" for="fixedProsthodontics">Fixed Prosthodontics</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="indications" type="checkbox" id="operativeDentistry"
                        value="4">
                    <label class="form-check-label" for="operativeDentistry">Operative Dentistry</label>
                </div>
                <br />
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="indications" type="checkbox" id="oralSurgery" value="5">
                    <label class="form-check-label" for="oralSurgery">Oral Surgery</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="indications" type="checkbox" id="orthodontics" value="6">
                    <label class="form-check-label" for="orthodontics">Orthodontics</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="indications" type="checkbox" id="pedodontics" value="7">
                    <label class="form-check-label" for="pedodontics">Pedodontics</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="indications" type="checkbox" id="periodontics" value="8">
                    <label class="form-check-label" for="periodontics">Periodontics</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" name="indications" type="checkbox" id="removableProsthodontics"
                        value="9">
                    <label class="form-check-label" for="removableProsthodontics">Removable Prosthodontics</label>
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Update Patient</button>
        </form>

        <h3 class="mt-4 mb-3"><%= title %></h3>
        <%- messages('my_message_template', locals) %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Patient Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact No.</th>
                    <th scope="col">Indications</th>
                    <th scope="col">Listing Status</th>
                    <th scope="col">Allocation Status</th>
                    <th scope="col">Student ID</th>
                    <th scope="col">Action</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<data.length; i++) { %>
                <tr>
                    <td><%= data[i].patientId%></td>
                    <td><%= data[i].patientName%></td>
                    <td><%= data[i].patientContact%></td>
                    <td><%= data[i].indications%></td>
                    <td><%= data[i].listingStatus%></td>
                    <td><%= data[i].allocationStatus%></td>
                    <td><%= data[i].studid%></td>
                    <% if (data[i].listingStatus == 'Listed' && data[i].allocationStatus != 'Allocated') {%>
                    <td><button type="button" class="btn btn-warning" onclick="listUnlistPatient(this)">Unlist
                        </button>
                    </td>
                    <% } else if (data[i].listingStatus == 'Not Listed' && data[i].allocationStatus != 'Allocated'){ %>
                    <td><button type="button" class="btn btn-primary" onclick="listUnlistPatient(this)">List
                        </button>
                    </td>
                    <% } %>

                    <% if (data[i].allocationStatus != 'Allocated' && data[i].listedtimestamp == null) {%>
                    <td><button type="button" class="btn btn-info" onclick="editPatient(this)">Edit</button></td>
                    <% } else { %>

                    <% } %>
                </tr>
                <% } %>
            </tbody>
        </table>



    </div>

    <!-- /.container --><br />
    <% include footer.ejs %>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
