<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>View All Requests</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/modern-business.css" rel="stylesheet">

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        function withdraw(e) {
            var requestId = $(e).closest("tr").find("td:first-child").text();
            //alert(id);
            document.getElementById("requestId").value = requestId;

            var withdrawRequest = document.getElementById("withdrawRequest_form");
            if (withdrawRequest.style.display === 'none') {
                withdrawRequest.style.display = 'block';
            }
            else {
                withdrawRequest.style.display = 'none';
            }
        }
    </script>

</head>

<body>
    <% include studentHeader.ejs %>

    <!-- Page Content -->
    <div class="container">
        <h1 class="mt-4 mb-3">Welcome <%= user%></h1>
        <h3 class="mt-4 mb-3"><%= title %></h3>
        <%- messages('my_message_template', locals) %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Request Id</th>
                    <th scope="col">Student Id</th>
                    <th scope="col">Patient Id</th>
                    <th scope="col">Indications</th>
                    <th scope="col">Request Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<data.length; i++) { %>
                <tr>
                    <td><%= data[i].rid%></td>
                    <td><%= data[i].studid%></td>
                    <td><%= data[i].pid%></td>
                    <td><%= data[i].indications%></td>
                    <td><%= data[i].allocatedstatus%></td>
                    <td><button type="button" class="btn btn-primary" onclick="withdraw(this)">Withdraw Request</button></td>
                </tr>
                <% } %>
            </tbody>
        </table>

        <form id="withdrawRequest_form" action="viewRequests" role="form" method="post" style="display:none">
            <h3 class="mt-4 mb-3">Withdraw Request</h3>
            <div class="form-group">
                <label for="requestId">Request ID:</label>
                <input type="text" class="form-control" id="requestId" name="requestId"
                    required="required" readonly="true">
            </div>

            <button type="submit" class="btn btn-primary">Withdraw Request</button>
        </form>
    </div>

    <!-- /.container --><br />
    <% include footer.ejs %>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
